<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="poda" type="Poda.Configuration.ConfigurationFileProvider.PodaConfigurationSection, Poda"/>
  </configSections>
  <poda dispatcher="ConsistentHash" retries="3" versionProvider="KeyPrefixingVersionProvider" version="2.0.2.20110101">
    <dispatchers>
      <dispatcher name="ConsistentHash" type="Poda.Dispatcher.ConsistentHashDispatcher`1, Poda" />
    </dispatchers>
    <versionProviders>
      <versionProvider name="KeyPrefixingVersionProvider" type="Poda.VersionProviders.KeyPrefixingVersionProvider, Poda" />
    </versionProviders>
    <databases>
      <database name="sharding_db_0" connectionString="Data Source=.;Initial Catalog=sharding_db_0;Integrated Security=True" />
      <database name="sharding_db_1" connectionString="Data Source=.;Initial Catalog=sharding_db_1;Integrated Security=True" />
      <database name="sharding_db_2" connectionString="Data Source=.;Initial Catalog=sharding_db_2;Integrated Security=True" />
      <database name="sharding_db_3" connectionString="Data Source=.;Initial Catalog=sharding_db_3;Integrated Security=True" />
    </databases>
    <policies>
      <policy version="1.0.0.19990101" nodes="sharding_db_0" />
      <policy version="1.1.7.20020101" nodes="sharding_db_0;sharding_db_1" />
      <policy version="2.0.2.20110101" nodes="sharding_db_0;sharding_db_1;sharding_db_2;sharding_db_3" />
    </policies>
    <federations>
      <federation table="Members" column="ID" dependency="" />
      <federation table="MemberQuestions" column="MemberID" dependency="Members" />
      <federation table="MemberQuestionTags" column="MemberID" dependency="MemberQuestions" />
      <federation table="MemberQuestionAnswers" column="MemberID" dependency="MemberQuestions" />
    </federations>
    <references>
      <reference table="Tags" dependency="" />
      <reference table="Countries" dependency="" />
    </references>
  </poda>
</configuration>
